{
  "presets": [
    ["env", {
      "targets": {
        "browsers": "last 2 Chrome versions",
        "node": "current"
      }
    }],
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "transform-class-properties"
  ]
}
